$colors: (
    color1      : #000000,
    color2      : #4cb2fa,
    color3      : rgba(255, 43, 43, 0.671),
    color4      : #969ff3,
    color5      : #6b6b6b,
    txt         : #f70404,
    title       : #222222,
    bg          : #8d7fd6
    
);

$fontPrimary:   'Poppins', sans-serif;   
$fontSecondary: 'Arial', sans-serif;

/*taille maximale pour le contenu en desktop*/
$maxWidth : 1140px;